<div class="card filter" style="width: 12rem">
  <div class="card-header">
    <strong>Filter</strong>
  </div>
  <div class="card-body">
    <form>
      <div class="form-group form-control-sm mb-2">
        <label for="from">From</label>
        <input type="number" id="from" class="form-control" />
      </div>
      <div class="form-group form-control-sm mb-2">
        <label for="to">To</label>
        <input type="number" id="to" class="form-control" />
      </div>

      <button
        type="button"
        class="btn btn-outline-dark btn-sm ms-2"
        (click)="addStuff()"
      >
        Filter
      </button>
      <button
        type="button"
        class="btn btn-outline-dark btn-sm ms-2"
        (click)="removeStuff()"
      >
        Delete
      </button>
    </form>
  </div>
</div>
