<div class="card" style="width: 18rem">
  <div class="card-header">
    <strong>Shopping Cart</strong>
  </div>

  <div *ngIf="cartItems.length === 0" class="alert alert-info">
    Your Cart is Empty
  </div>

  <ul *ngIf="cartItems.length > 0" class="list-group list-group-flush">
    <li class="list-group-item" *ngFor="let item of cartItems">
      <app-cart-item [cartItem]="item"></app-cart-item>
    </li>
  </ul>

  <div class="card-footer">
    <strong>Total {{ 1000 | currency : "SEK" }}</strong>
  </div>
</div>
